<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<head th:fragment="body">
		<title>My Spring Template</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
		<link rel="stylesheet" th:href="@{/bower_components/bootstrap/dist/css/bootstrap.min.css}" />
		<link rel="stylesheet" th:href="@{/bower_components/bootstrap/dist/css/bootstrap-theme.min.css}" />
		<script type="application/javascript" src="bower_components/angular/angular.js"></script>
		<script type="application/javascript" src="bower_components/angular-resource/angular-resource.js"></script>
		<script type="application/javascript" src="bower_components/angular-route/angular-route.js"></script>
		<script type="application/javascript" src="bower_components/jquery/dist/jquery.js"></script>
		<script type="application/javascript" src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
		<script type="application/javascript" src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
		<script type="application/javascript" src="js/angular/app.js"></script>
		<script type="application/javascript" src="js/angular/common/commonController.js"></script>
		<script type="application/javascript" src="js/angular/common/commonDirectives.js"></script>
		<script type="application/javascript" src="js/angular/common/commonFactory.js"></script>
		<script type="application/javascript" src="js/angular/common/commonRoute.js"></script>
	</head>
</html>